<html><head>
	<title>test</title>
	<style>
		body {
			background-color: powderblue;
		}

		div {
			font-family: georgia, garamond, serif;
			font-size: 16px;
			font-style: italic;
			margin: 50px
		}
	</style>
</head>

<body>
	<div id="root">
		
		
		
		
		
	<div id="cs-CZ">
			<h1 style="color: blue;">Hlavn&#xED; body marketingu</h1>Po n&#x11B;jak&#xE9; dob&#x11B; tvorby pap&#xED;rov&#xFD;ch produkt&#x16F; a dopl&#x148;k&#x16F; jsem m&#x11B;la
			pot&#x159;ebu zm&#x11B;ny, <mark>a moje tvorba proch&#xE1;zela</mark> v tu dobu p&#x159;irozen&#xFD;m v&#xFD;vojem. Dal&#x161;&#xED; posun mi ale mohlo umo&#x17E;nit
			jen nov&#xE9; jm&#xE9;no, zna&#x10D;ka, pod kterou vlastn&#x11B; schov&#xE1;m celou svoji tvorbu.
		</div></div>


</body></html>