<html><head>
	<title>test</title>
	<style>
		body {
			background-color: powderblue;
		}

		div {
			font-family: georgia, garamond, serif;
			font-size: 16px;
			font-style: italic;
			margin: 50px
		}
	</style>
</head>

<body>
	<div id="root">
		
		
		
		
		
	<div id="es-ES">
			<h1 style="color: blue;">Aspectos destacados del marketing</h1>Despu&#xE9;s de alg&#xFA;n tiempo de hacer productos de papel y
			accesorios, <mark>tuve la necesidad de cambiar</mark>, y mi trabajo pas&#xF3; por un desarrollo natural en ese momento.
			Pero otro cambio solo podr&#xED;a permitirme un nuevo nombre, una marca bajo la cual escondo todo mi trabajo.
		</div></div>


</body></html>