<html><head>
	<title>test</title>
	<style>
		body {
			background-color: powderblue;
		}

		div {
			font-family: georgia, garamond, serif;
			font-size: 16px;
			font-style: italic;
			margin: 50px
		}
	</style>
</head>

<body>
	<div id="root">
		
		
		
		
		
	<div id="tr-TR">
			<h1 style="color: blue;">Pazarlama &#xD6;zeti</h1>Bir s&#xFC;re ka&#x11F;&#x131;t &#xFC;r&#xFC;nleri ve aksesuarlar&#x131; yapt&#x131;ktan sonra, <mark>de&#x11F;i&#x15F;ime
				ihtiyac&#x131;m vard&#x131; ve &#xE7;al&#x131;&#x15F;malar&#x131;m</mark> o zamanlar do&#x11F;al geli&#x15F;imden ge&#xE7;ti. Fakat ba&#x15F;ka bir kayma bana ancak b&#xFC;t&#xFC;n
			&#xE7;al&#x131;&#x15F;mam&#x131;n alt&#x131;nda saklad&#x131;&#x11F;&#x131;m bir i&#x15F;aret olan yeni bir isme izin verebilirdi.
		</div></div>


</body></html>