<html><head>
	<title>test</title>
	<style>
		body {
			background-color: powderblue;
		}

		div {
			font-family: georgia, garamond, serif;
			font-size: 16px;
			font-style: italic;
			margin: 50px
		}
	</style>
</head>

<body>
	<div id="root">
		
		
		
		
		
	<div id="de-DE">
			<h1 style="color: blue;">Marketing-Highlights</h1>Nach einiger Zeit, als ich Papierprodukte und -zubeh&#xF6;r herstellte,
			<mark>musste ich mich &#xE4;ndern</mark> und meine Arbeit durchlief damals eine nat&#xFC;rliche Entwicklung. Aber eine andere
			Schicht erlaubte mir nur einen neuen Namen, eine Marke, unter der ich mein gesamtes Werk verstecke.
		</div></div>


</body></html>